#Production Database
PROD_DB_DATABASE=mariadb
PROD_DB_PORT=3306
PROD_DB_HOST=localhost
PROD_DB_USER=dev
PROD_DB_PASS=dev
PROD_DB_NAME=mysql

#Development Database
DEV_DB_DATABASE=mariadb
DEV_DB_PORT=3306
DEV_DB_HOST=localhost
DEV_DB_USER=dev
DEV_DB_PASS=dev
DEV_DB_NAME=mysql

#Test Database
TEST_DB_DATABASE=mariadb
TEST_DB_PORT=3306
TEST_DB_HOST=localhost
TEST_DB_USER=dev
TEST_DB_PASS=dev
TEST_DB_NAME=mysql

#Connection Mode
# PRODUCTION
# DEVELOPMENT
# TEST
DB_CON_MODE=TEST